{% extends 'basics.html' %}
{% block title %}Homepage{% endblock %}
{% block body %}

<br xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2300">
                <img src="https://wallpaperaccess.com/full/895574.jpg" class="d-block w-100"
                     width="300px" height="250px alt=" ...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://media.istockphoto.com/photos/online-education-concept-picture-id636332456?b=1&k=20&m=636332456&s=170667a&w=0&h=SyCtNMVCxM2h0L7NuxW4grWplRj-_ZoteN7XiEnVyhs="
                     class="d-block w-100" width="300px" height="250px alt=" ...">
            </div>
            <div class="carousel-item" data-bs-interval="1400">
                <img src="https://i.pinimg.com/736x/21/39/3c/21393c41e9afb4beb99e32a5be5f3655.jpg"
                     class="d-block w-100" width="300px" height="250px alt=" ...">
            </div>

            <div class="carousel-item">
                <img src="https://cutewallpaper.org/22/maths-wallpapers/100835740.jpg"
                     class="d-block w-100" width="300px" height="250px alt=" ...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="50" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
<div class="container">
    <i><h3>Welcome To The Engineering Mathematics Website.</h3>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Here We Provide You Engineering Mathematics Formulas
        And
        It's Concepts
        To Increase Your Knowlage And Interest In Engineering Mathematics
        Most Of Student Have Fair About Engineering Mathematics Subject But After Visiting This Page And After Learning
        Formulas Engineering Mathematics Looks Easy To You
        We Are Providing Quality Content To Improve Your Knowlage In Less Time.
        <br>
        <br>


</div>
</div>


<div class="container">
    &nbsp;&nbsp;<b>Engineering Mathematics</b> is a branch of applied mathematics concerning
    mathematical methods and
    techniques that are typically used in engineering and industry. Along with fields like engineering
    physics and
    engineering geology, both of which may belong in the wider category engineering science, engineering
    mathematics is
    an interdisciplinary subject motivated by engineers' needs both for practical, theoretical and other
    considerations
    outwith their specialization, and to deal with constraints to be effective in their work.<br>
    <br>
    <b>&nbsp;Description : </b><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Historically, engineering mathematics consisted
    mostly of applied
    analysis, most notably: differential equations; real and complex analysis (including vector and
    tensor analysis);
    approximation theory (broadly construed, to include asymptotic, variational, and perturbative
    methods,
    representations, numerical analysis); Fourier analysis; potential theory;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;outside of analysis. These areas of mathematics were
    intimately tied
    to the development of Newtonian physics, and the mathematical physics of that period. This history
    also left a
    legacy: until the early 20th century subjects such as classical mechanics were often taught in
    applied mathematics
    departments at American universities, and fluid mechanics may still be taught in (applied)
    mathematics as well as
    engineering departments.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The success of modern numerical computer methods and
    software has
    led to the emergence of computational mathematics, computational science, and computational
    engineering (the last
    two are sometimes lumped together and abbreviated as CS&E), which occasionally use high-performance
    computing for
    the simulation of phenomena and the solution of problems in the sciences and engineering. These are
    often considered
    interdisciplinary fields, but are also of interest to engineering mathematics<br>
    </i style=font-size:10px;>
    <br>
    <br>
    <h1><b><i>Get Study Material (Formulas, Books, etc.) Choose Option Below :</i></b></h1>
    <br>
    <br>
</div>
<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 20rem; border-radius:20px;">
                <img src="https://m.media-amazon.com/images/I/51nF2DEFGDL.jpg"
                     class="card-img-top" HEIGHT="300" WIDTH="200" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><h3><br><b>ENGINEERING MATHEMATICS 1</b></br></h3><br>
                    </h6>
                    <a href="/Engineering_Mathematics/Mathematics1" class="btn btn-outline-light bg-primary" role="button" target="_blank" aria-pressed="true"
                    <button type="button" class="">Click Here</button>
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 20rem; border-radius:20px;">
                <img src="https://i1.rgstatic.net/publication/331063143_A_text_book_of_ENGINEERING_MATHEMATICS-II/links/5d57d52ca6fdccb7dc42c87e/largepreview.png"
                     class="card-img-top" HEIGHT="300" WIDTH="200" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><h3><br><b>ENGINEERING MATHEMATICS 2</b></br></h3>
                    </h6>
                    <br>
                   <a href="/Engineering_Mathematics/Mathematics2" class="btn btn-outline-light bg-primary" role="button" target="_blank" aria-pressed="true"
                    <button type="button" class="">Click Here</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 20rem; border-radius:20px;">
                <img src="https://play-lh.googleusercontent.com/ZjX6FmxyNNduZV_JVTbmplZ16wGPPqF5zwC-aVlyz1r-bcUeT_u9Lr8EBFv3pDZ6PzI"
                     class="card-img-top" HEIGHT="300" WIDTH="200" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><h3><br><b>ENGINEERING MATHEMATICS 3</b></br></h3>
                    </h6>
                    </a><br>

                    <a href="/Engineering_Mathematics/Mathematics3" class="btn btn-outline-light bg-primary" role="button" target="_blank" aria-pressed="true"
                    <button type="button" class="">Click Here</button>
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>
</div>

</div>
</div>

{% endblock %}