{% extends 'basics.html' %}
{% block title %}Engineering Mathematics 3{% endblock %}

{% block body %}
<center><img src="https://1.bp.blogspot.com/-sqw52tpWX0Q/XQUV3aokZrI/AAAAAAAAK6Y/cg3JT60bF3YM9LtWa44V9B3TIG0wLAoBQCLcBGAs/s1600/study-material.png"></center>
<br>
<br>
<div class="container sm-3" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h2><b>Engineering Mathematics 3</b></h2><br>
    <h3>Details :</h3>
    <ul>
        <li><b>Semester : 4</b></li>
        <li><b>Department : CSE</b></li>
        <li><b>Subject Code : MA2211</b></li>
        <li><b>Subject Name : Engineering Mathematics 3</b></li>
        <li><b>Edition Details :nirali 2019 Edition (Original Version)</b></li>
        <li><b>Syllabus Regulation : 2019</b></li>
        <li><b>Attachment Type : pdf</b></li>
        </li>
    </ul>
    <br>
    The course aims to develop the skills of the students in the areas of <b>boundary value problems</b> and <b>transform
    techniques</b>. This will be necessary for their effective studies in a large number of engineering subjects like
    <b>heat conduction, communication systems, electro-optics and electromagnetic theory</b>. The course will also serve
    as a prerequisite for post graduate and specialized studies and research.
    <br><br>
    <h6><b>Engineering mathematics is the art of applying maths to complex real-world problems; combining mathematical
        theory, practical engineering and scientific computing to address today's technological challenges.</b></h6>

    <br>
    <h3><b>Topics</b></h3>
    <ul>
        <li><b>UNIT I : Linear Differential Equations (LDE) and Applications</b></li>
        <li><b>UNIT II : Transforms </b></li>
        <li><b>UNIT III : Statistics</b></li>
        <li><b>UNIT IV : Probability and Probability Distributions </b></li>
        <li><b>UNIT V : Vector Calculus</b></li>
        <li><b>Unit VI : Applications of Partial Differential Equations (PDE) </b></li>
    </ul>

    <br>
    <br>
    <div class="container">

        <main class="form-signin">
            <form>
                <div class="container d-grid gap-2">


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="true">
                            <button type="button"
                            " class="btn btn-dark mx-my-5"><h1>
                            Study Marerials</h1></button>
                        </a>

                        <ul class="dropdown-menu " style="width:400;" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item bg-secondary active" target="_blank"
                               href="https://drive.google.com/file/d/1HLv9ZWqpiWj0Skvv5XNSznG5wPruUtd5/view?usp=drivesdk">
                                <center><h3><b>Unit
                                    1</b></h3></center>
                            </a></li>
                            <li><a class="dropdown-item bg-dark active" target="_blank"
                                   2
                               href="https://drive.google.com/file/d/1HiQfZ89j-aHeYGhdexNYirfAWXZVJi2j/view?usp=drivesdk">
                                <center><h3><b>Unit
                                    2</b></h3></center>
                            </a></li>
                            <li><a class="dropdown-item bg-secondary active" target="_blank"
                               href="https://drive.google.com/file/d/1JPQ55jnzgW56T3ZRiN4urk5BKT3iWCDy/view?usp=drivesdk">
                                <center><h3><b>Unit
                                    3</b></h3></center>
                            </a></li>
                            <li><a class="dropdown-item bg-dark active" target="_blank"
                               href="https://drive.google.com/file/d/1HN5D42nqwpkxL0H0mCzpbX8Mv2BJLlEZ/view?usp=drivesdk">
                                <center><h3><b>Unit
                                    4</b></h3></center>
                            </a></li>
                            <li><a class="dropdown-item bg-secondary active" target="_blank"
                               href="https://drive.google.com/file/d/1Hn2xFPsunPbAAEWKkmbDkjBRsDbk6F_z/view?usp=drivesdk">
                                <center><h3><b>Unit
                                    5</b></h3></center>
                            </a></li>
                            <li><a class="dropdown-item bg-dark active" target="_blank"
                               href="https://drive.google.com/file/d/1J62IbpbWMaViUXFwpF5poJK6pE4XiShm/view?usp=drivesdk">
                                <center><h3><b>Unit
                                    6</b></h3></center>
                            </a></li>

                        </ul>
                    </li>
            </form>
        </main>

    </div>
    <br>
    <br>
    <br>
    <hr style="height:10px">
    <br>
    <br>
    <br>
</div>
<div class="container">
    <div class="d-grid gap-2">
        <a href="http://127.0.0.1:8000/Engineering_Mathematics/"
        <button class="btn btn-primary" type="button">Back</button>
        </a>
        <a href="http://127.0.0.1:8000/"
        <button class="btn btn-danger" type="button">Home</button>
        </a>
    </div>
</div>
{% endblock %}

