{% extends 'basics.html' %}

{% block title %}Engineering Mathematics 1{% endblock %}
{% block body %}
<div class="container sm-3">
<center><img src="https://1.bp.blogspot.com/-sqw52tpWX0Q/XQUV3aokZrI/AAAAAAAAK6Y/cg3JT60bF3YM9LtWa44V9B3TIG0wLAoBQCLcBGAs/s1600/study-material.png"></center>
<div>
<br>
<br>
<!--<div class="container" xmlns="http://www.w3.org/1999/html">-->
    <h2><b>Engineering Mathematics 1</b></h2><br>
    <h3>Details:</h3>
    <ul>
        <li><h6>Semester:01</h6></li>
        <li><h6>Year:1</h6></li>
        <li><h6>Department: all Branches of BE,B Tech</h6></li>
        <li><h6>Subject Title: Engineering Mathematics-I</h6></li>
        <li><h6>Thread Type: Formula Materials</h6></li>
        <li><h6>Version Type: Typed Version</h6></li>
        <li><h6>Attachment format : Pdf</h6></li>
        <li><b>SYLLABUS REGULATION: 2019
    </ul>

    <br>
    All topics are driven by engineering Mathematics 1 <b>Fundamentals</b> Cover in this subjects.
    <br>
    <br>
    <h6><b>Engineering mathematics is the art of applying maths to complex real-world problems; combining mathematical
        theory, practical engineering and scientific computing to address today's technological challenges.</b></h6>
    <br>
    <h3>Topics : </h3>
    <ul>
        <li><b>UNIT I : Differential Calculus:</b></li>
        <li><b>UNIT II : Fourier Series</b></li>
        <li><b>UNIT III : Partial Differentiation </b></li>
        <li><b>UNIT IV : Applications of Partial Differentiation </b></li>
        <li><b>UNIT V : Linear Algebra-Matrices, System of Linear Equations</b></li>
        <li><b>Unit VI : Linear Algebra-Eigen Values and Eigen Vectors, Diagonaliztion</b></li>


    </ul>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This course is about the
    basic mathematics that is fundamental and essential component in all streams of undergraduate studies in
    sciences and engineering. The course consists of topics in differential calculus, integral calculus, linear
    algebra and differential equations with applications to various engineering problems. This course will cover the
    following main topics: Mean Value Theorems Indeterminate Forms Taylors and Maclaurins Theorems. Partial
    Derivatives Differentiability Taylors Expansion of Functions of Several Variables. Maxima and Minima Improper
    Integrals. Differentiation under Integral Sign (Leibnitz rule). Multiple Integrals and their Properties.
    Applications of Multiple Integrals System of Linear Equations. Vector Spaces; Basis and Dimension of a Vector
    Space. Rank of a Matrix and its Properties. Linear Transformation. Eigenvalues and Eigenvectors. Diagonalization
    First Order Differential Equations. Higher Order Differential Equations with Constant Coefficients. Cauchy-Euler
    Equations. System of Differential Equations.
    <br>
    <br>


    <main class="form-signin">
        <form>
<!--            <div class="container">-->


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="true">
                        <button type="button" class="btn btn-dark mx-my-5"><h1>

                            Study Marerials</h1></button>
                    </a>

                    <ul class="dropdown-menu " style="width:400;" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item bg-secondary active" target="_blank"
                               href="https://drive.google.com/file/d/1HLv9ZWqpiWj0Skvv5XNSznG5wPruUtd5/view?usp=drivesdk">
                            <center><h3><b>Unit
                                1</b></h3></center>
                        </a></li>
                        <li><a class="dropdown-item bg-dark active" target="_blank"
                               href="https://drive.google.com/file/d/1HN5D42nqwpkxL0H0mCzpbX8Mv2BJLlEZ/view?usp=drivesdk">
                            <center><h3><b>Unit
                                2</b></h3></center>
                        </a></li>
                        <li><a class="dropdown-item bg-secondary active" target="_blank"
                               href="https://drive.google.com/file/d/1HN5D42nqwpkxL0H0mCzpbX8Mv2BJLlEZ/view?usp=drivesdk">
                            <center><h3><b>Unit
                                3</b></h3></center>
                        </a></li>
                        <li><a class="dropdown-item bg-dark active" target="_blank"
                               href="https://drive.google.com/file/d/1HjfFevknidZM8ZjpDT3dABpxg_Yt_0Fv/view?usp=drivesdk">
                            <center><h3><b>Unit
                                4</b></h3></center>
                        </a></li>
                        <li><a class="dropdown-item bg-secondary active" target="_blank"
                               href="https://drive.google.com/file/d/1Hn2xFPsunPbAAEWKkmbDkjBRsDbk6F_z/view?usp=drivesdk">
                            <center><h3><b>Unit
                                5</b></h3></center>
                        </a></li>

                    </ul>
                </li>
        </form>
    </main>
</div>
<br>
<br>
<br>

<hr style="height:10px">

<br>
<br>
<br>


<div class="container sm-4">
    <div class="d-grid gap-2">
        <a href="http://127.0.0.1:8000/Engineering_Mathematics/"
        <button class="btn btn-primary" type="button">Back</button>
        </a>
        <a href="http://127.0.0.1:8000/"
        <button class="btn btn-danger" type="button">Home</button>
        </a>
    </div>
</div>
{% endblock %}
