<!d<!doctype html>
<html lang="en">
<head>{% block head %} {% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid bg-dark navbar-expand-lg navbar-dark bg-dark">
        <img class="mb-2 mx-3 my-1"
             src="https://media1.thehungryjpeg.com/thumbs2/ori_3656686_nzpb3u0ej2ci97divefz678eurwodozt9dd0b4ns_monogram-em-logo-design.jpg"
             alt="" width="72" height="57">

        <a class="navbar-brand active" href="#">Engineering Mathematics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="http://127.0.0.1:8000/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Subjects
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item bg-secondary active"
                               href="http://127.0.0.1:8000/Engineering_Mathematics/Mathematics1/">Mathematics
                            1</a></li>
                        <li><a class="dropdown-item bg-dark active"
                               href="http://127.0.0.1:8000/Engineering_Mathematics/Mathematics2/">Mathematics
                            2</a></li>
                        <li><a class="dropdown-item bg-secondary active"
                               href="http://127.0.0.1:8000/Engineering_Mathematics/Mathematics3/">Mathematics
                            3</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>


{% block body %}

{% endblock %}


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top ">
    <p class="col-md-4 mb-0 text-muted">© 2022 EM Company, Inc <br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-sujal
        pagar</b></p>

    <a href="/"
       class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav col-md-4 justify-content-end ">

        <li class="nav-item ">
            <a href="http://127.0.0.1:8000/" class="nav-link px-2 text lg active">Home</a></li>


        <li class="nav-item Active "><a href="https://www.linkedin.com/in/sujal-pagar-aa0b2b21a/"
                                class="nav-link px-2 text">Linkedin</a></li>

        <li class="nav-item "><a href="https://www.instagram.com/sujal_pagar_sp/" class="nav-link px-2 text">Instagram</a>
        </li>
        <!--        <li class="nav-item"><a href="" class="nav-link px-2 text-muted">Whatsapp </a></li>-->
        <li class="nav-item "><a href="#" class="nav-link px-2 text">About</a></li>
    </ul>
</footer>


<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>