{% extends 'basics.html' %}
{% block title %}Homepage{% endblock %}
{% block body %}
<div class="container sm-3">
    <h3>Welcome To The Engineering Mathematics Website.</h3>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Here We Provide You Engineering Mathematics Formulas And
    It's Concepts
    To Increase Your Knowlage And Interest In Engineering Mathematics
    Most Of Student Have Fair About Engineering Mathematics Subject But After Visiting This Page And After Learning
    Formulas Engineering Mathematics Looks Easy To You
    We Are Providing Quality Content To Improve Your Knowlage In Less Time.
    <br>
    <br>
    <br>
    <h4><b>Get Study Material (Formulas, Books, etc.) Chose Subject Below :</b></h4>


    <a href="/Engineering_Mathematics/Mathematics1"
    <button type="button" class="btn btn-primary btn-lg mx-3 my-1">Mathematics 1</button>
    </a>
    <a href="/Engineering_Mathematics/Mathematics2"
    <button type="button" class="btn btn-Success btn-lg mx-3 my-1">Mathematics 2</button>
    </a>
    <a href="/Engineering_Mathematics/Mathematics3"
    <button type="button" class="btn btn-Danger btn-lg mx-3 my-1">Mathematics 3</button>
    </a>
    <br>
    <br>
    <br>
    <br>
    &nbsp;&nbsp;<b>Engineering Mathematics</b> is a branch of applied mathematics concerning mathematical methods and
    techniques that are typically used in engineering and industry. Along with fields like engineering physics and
    engineering geology, both of which may belong in the wider category engineering science, engineering mathematics is
    an interdisciplinary subject motivated by engineers' needs both for practical, theoretical and other considerations
    outwith their specialization, and to deal with constraints to be effective in their work.<br>
    <br>
    <b>&nbsp;Description : </b><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Historically, engineering mathematics consisted mostly of applied
    analysis, most notably: differential equations; real and complex analysis (including vector and tensor analysis);
    approximation theory (broadly construed, to include asymptotic, variational, and perturbative methods,
    representations, numerical analysis); Fourier analysis; potential theory;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;outside of analysis. These areas of mathematics were intimately tied
    to the development of Newtonian physics, and the mathematical physics of that period. This history also left a
    legacy: until the early 20th century subjects such as classical mechanics were often taught in applied mathematics
    departments at American universities, and fluid mechanics may still be taught in (applied) mathematics as well as
    engineering departments.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The success of modern numerical computer methods and software has
    led to the emergence of computational mathematics, computational science, and computational engineering (the last
    two are sometimes lumped together and abbreviated as CS&E), which occasionally use high-performance computing for
    the simulation of phenomena and the solution of problems in the sciences and engineering. These are often considered
    interdisciplinary fields, but are also of interest to engineering mathematics<br>
</div>
{% endblock %}