{% extends 'basics.html' %}
{% block title %}
Engineering Mathematics 2
{% endblock %}

{% block body %}
<div class="container">
    <h2><b>Engineering Mathematics 2</b></h2><br>
    <h3><b>Details :</b></h3>
    <ul>
        <li><b>SEMESTER: 2</b>
        <li><b>SUBJECT CODE: MA 2161</b>
        <li><b>SUBJECT NAME: ENGINEERING MATHEMATICS 2</b>
        <li><b>TOPICS COVERED: ALL 6 UNITS</b>
        <li><b>TYPE: PDF</b>
        <li><b>SYLLABUS REGULATION: 2019</b>
    </ul>
    All topics are driven by engineering Mathematics 2 <b>Fundamentals</b> Cover in this subjects.
    <br>
    <br>
    <h6><b>Engineering mathematics is the art of applying maths to complex real-world problems; combining mathematical
        theory, practical engineering and scientific computing to address today's technological challenges.</b></h6>
    <br>
    <h3>Topics : </h3>
    <ul>
        <li><b>Unit 1 : First Order Ordinary differential Equations</b></li>
        <li><b>Unit 2 : Applications of Differential Equations</b></li>
        <li><b>Unit 3 : Integral Calculus</b></li>
        <li><b>Unit 4 : Curve Tracing</b></li>
        <li><b>Unit 5 : Solid Geometry</b></li>
        <li><b>Unit 6 : Multiple Integrals and their Applications</b></li>

    </ul>

    <div class="container">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This course is about the basic
        mathematics that is fundamental and essential component in all streams of undergraduate studies in sciences and
        engineering. The course consists of topics in complex analysis,numerical analysis, vector calculus and transform
        techniques with applications to various engineering problems. This course will cover the following main
        topics.Function of complex variables. Analytic functions. Line integrals in complex plane. Cauchy’s integral
        theorem, Derivatives of analytic functions. Power series, radius of convergence. Taylor’s and Laurent’s series,
        zeros and singularities, residue theorem.Iterative method for solution of system of linear equations. Finite
        differences, interpolation. Numerical integration. Solution of algebraic and transcendental equations.Vector and
        scalar fields. Limit, continuity, differentiability of vector functions. Directional derivative, gradient, curl,
        divergence. Line and surface integrals, Green, Gauss and Stokes theorem.Laplace transform and its properties.
        Laplace Transform of specialfunction. Convolution theorem. Evaluation of integrals by LaplaceTransform. Solution
        of initial and boundary value problems.Fourier series representation of a function. Fourier sine and
        cosinetransforms. Fourier Transform. Properties of Fourier Transform.Applications to boundary value problems.
    </div>
    <br>
    <br>
    <h3><b>SPPU First Year Syllabus 👇 :</b></h3>
    <a href="http://collegecirculars.unipune.ac.in/sites/documents/Syllabus%202019/First%20Year%20Engineering%202019%20Patt.Syllabus_05.072019.pdf"
    <button type="button" class="btn btn-primary btn-lg">Click Here</button>
    </a>

    <br>
    <br>
    <div class="container ">
        <h4><b>Download Book PDF Or Buy Online 👇</b></h4>

        <a href="https://www.pragationline.com/engineering-mathematics-ii-gokhale-mujumdar-kulkarni-singh-atal/"
        <button type="button" class="btn btn-primary btn-lg">Click Here</button>
        </a>
    </div>
    <br>
    <br>
    <h4><b>Download Formula And Concepts Unitwise PDF 👇</b></h4>
    <a href="https://www.vidyarthiplus.com/vp/attachment.php?aid=7156"
    <button type="button" class="btn btn-primary btn-lg my-3">PDF 1</button>
    </a>

    <a href="https://www.vidyarthiplus.com/vp/attachment.php?aid=7157"
    <button type="button" class="btn btn-primary btn-lg my-3">PDF 2</button>
    </a>


    <a href="https://www.vidyarthiplus.com/vp/attachment.php?aid=7158"
    <button type="button" class="btn btn-primary btn-lg my-3">PDF 3</button>
    </a>

    <a href="https://www.vidyarthiplus.com/vp/attachment.php?aid=7187"
    <button type="button" class="btn btn-primary btn-lg my-3">PDF 4</button>
    </a>

    <br>
    <br>
    <center>
        <div class="container"><h1>Thank You...<br>Visit Again</h1></div>
    </center>
    <br>
    <br>

    <div class="d-grid gap-2">
        <a href="http://127.0.0.1:8000/Engineering_Mathematics/"
        <button class="btn btn-secondary" type="button">Back</button>
        </a>
        <a href="http://127.0.0.1:8000/"
        <button class="btn btn-secondary" type="button">Home</button>
        </a>
    </div>
</div>
{% endblock %}

